# API Configuration
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Wallet Connect Configuration
VITE_WALLETCONNECT_PROJECT_ID=60e1fbfcad18a13f3578531e0cf11d35

# Environment
VITE_ENVIRONMENT=development

VITE_TASK_CONTRACT_ADDRESS=0x173852d10af51c48F455141849D2e9E6fa213bf1
