# API Configuration
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Wallet Connect Configuration
VITE_WALLETCONNECT_PROJECT_ID=60e1fbfcad18a13f3578531e0cf11d35

# Environment
VITE_ENVIRONMENT=development

VITE_TASK_CONTRACT_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
